@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ABeeZee', sans-serif;

    
}
.container {
    display: grid;
    
}
.velozar {
    height: fit-content;
    width: auto;
    background-color: #F4F9E2;
    

}
header {
    display: grid;
    grid-template-columns: 118px 320px 150px;
    align-items: center;
    justify-content: space-around;
}
nav > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;

}
nav > ul a {
    text-decoration: none;
    color:black
}
nav ul a:hover {
    border-bottom: 1px solid black;
}
.velozar button {
    padding: 17px 40px;
    background: #F9B640;
    border-radius: 50px;
    color: white;
    font-size: 14px;
    line-height: 17px;
    font-style: italic;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}
.dino {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 187px;
    
}
h2 {
    
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -0.035em;
    color: #22356F;
    font-weight: lighter;
    padding-bottom: 46px;
    padding-top: 126px;

}
.text_1 {
    
    font-weight: 400;
    font-size: 24px;
    line-height: 43px;
    font-weight: lighter;
    color: #22356F;
    width: 602px;
    
}
.image {
    display: grid;
    padding-top: 120px;
}
.shto_my_predlagaem {
    display: grid;
    height: fit-content;
    width: auto;
    grid-template-columns: 3fr 1fr;
    
}

.shtomypredlagaem {
    background-color: #62D0DF;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: auto;
    padding-top: 131px;

}
.text_2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: justify;
    color: #FFFFFF;
    margin-left: 171px;
    margin-right: 160px;
    font-style: italic;
    font-weight: lighter;
    padding-bottom: 132px;
    
}
h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 28px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
    margin-left: 178px;
}

.text_3 {
    height: fit-content;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.005em;
    padding-top: 251px;
    padding-bottom: 137px;
    padding-left: 397px;
    padding-right: 304px;
    color: #22356F;
    
    
}

.postojannye_klienty {
    
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr, 1fr;
}
.godovoe {
    background-color: #22356F;
    color: white;
    height: 480px;
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    font-weight: lighter;
    padding-top: 126px;
    padding-left: 70px;
    transition: 0.2s;
    text-decoration: overline 1px;
    
   
}

.godovoe:hover {
    cursor: pointer;
    font-size: 150%;
    
}
.vyravnivanie_koles {
    background-color: #0052C1;
    color: white;
    height: 480px;
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    font-weight: lighter;
    padding-top: 126px;
    padding-left: 70px;
    text-decoration: overline 1px;
    
}
.nastrojka {
    background-color: #76B58B;
    color: white;
    height: 480px;
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    font-weight: lighter;
    padding-top: 126px;
    padding-left: 70px;
    text-decoration: overline 1px;
    
}
.tri_bloka {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
}
.prokat_velosipedov {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 1fr;
    
}
.prokat {
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 28px;
    letter-spacing: -0.006em;
    color: #22356F;
    font-weight: lighter
}
.prokatvelosipedov {
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;
    color: #22356F;
    font-weight: lighter;
}
.lokacija {
    align-items: center;
}